body {
  font-family: Montserrat;
  text-align: center;
  margin-top: 40px;
}

section {
  text-align: left;
}

input {
  width: 272px;
  height: 40px;
  border: 2px solid #808080;
  border-radius: 6px;
  padding-left: 10px;
  font-size: 16px;
  outline: 0px solid transparent;
  color: #2e2f42;
}

input:hover {
  border-color: #000000;
}

input:focus {
  border-color: #4e75ff;
}

input:disabled {
  color: #808080;
  pointer-events: none;
}

button {
  width: 79px;
  height: 46px;
  border: 0px;
  border-radius: 10px;
  font-family: Montserrat;
  font-size: 16px;
  background-color: #4e75ff;
  color: #ffffff;
}

button:hover {
  background-color: #6c8cff;
}

button:disabled {
  background-color: #808080;
}

.value {
  font-size: 40px;
  color: #2e2f42;
}

.label {
  font-size: 16px;
  color: #2e2f42;
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 33px;
  margin-top: 20px;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
